<div class="login-body">
    <div class="login-div">
        <div class="login-title">Login</div>
        <div class="login-content">
            <div class="username">
                <i class="fa fa-envelope email-icon" aria-hidden="true"></i>
                <input type="text" class="form-control input-text" placeholder="Username or Email Id">
            </div>
            <div class="password">
                <i class="fa fa-lock email-icon" aria-hidden="true"></i>
                <input type="password" class="form-control input-text" placeholder="Password">
            </div>
        </div>
        <div class="login-button">
            <a href="#forgotPassword" class="forgot-password">Forgot Password?</a>
            <button class="btn btn-primary login-btn" routerLink="/admin" (click)="login()">Login</button>
        </div>
        <div class="clear"></div>
        <div class="signup-link">
            <a href="signUp">Create New Account</a>
        </div>
    </div>
</div>