<div class="signUp-body">
    <div class="signUp-div">
        <div class="signUp-title">Sign UP</div>
        <div class="signUp-content">
            <div class="name">
                <input type="text" class="form-control name-input" placeholder="First Name">
                <input type="text" class="form-control name-input" placeholder="Last Name">
            </div>
            <div class="email">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="password">
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="confirm-password">
                <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
            <div class="phone">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div>
        </div>
        <div>
            <button class="btn btn-primary floatRight sign-button" (click)="signUp()">Sign Up</button>
        </div>
        <div class="sign-button">
            <a href="login">Already have an account?</a>
        </div>
    </div>
</div>